body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
}

.flex {
    display:flex;
}

.main-section {
    width:1200px;margin: 0 auto;
}

.tune-card {
    background-color:#f7f7f7;
    padding: 16px;
    margin-bottom: 16px;
}

.motoneta-list ul li {
    padding-bottom: 6px;
}

.spotify-logo {
    width:auto;height:20px;cursor:pointer;vertical-align: middle;margin-right: 8px;
}

.applemusic-logo {
    width:auto;height:30px;cursor:pointer;vertical-align: middle;margin-right: 8px;
}

.soundcloud-logo {
    width:auto;height:30px;cursor:pointer;vertical-align: middle;margin-right: 8px;
}

.youtubemusic-logo {
    width:auto;height:24px;cursor:pointer;vertical-align: middle;margin-right: 8px;
}

.twitter-logo {
    width:auto;height:30px;cursor:pointer;vertical-align: middle;margin-right: 8px;
}

.facebook-logo {
    width:auto;height:30px;cursor:pointer;vertical-align: middle;margin-right: 8px;
}

.instagram-logo {
    width:auto;height:30px;cursor:pointer;vertical-align: middle;margin-right: 8px;
}

.rank-logo {
    width:auto;height:18px;vertical-align:middle;margin-right: 8px;
}